@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-primary-100: #ffdf8c;
  --color-primary-300: #f38d42;
  --color-primary-500: #ff6c00;
  --font-main: 'Nunito', sans-serif;

}
body {
  scroll-behavior: smooth;
  background-color: var(--color-primary-100);
  font-family: var(--font-main);
}
.swiper-button-next, .swiper-button-prev {
  background: #fff;
  border-radius: 100%;
  padding: 12px;
}
.swiper-button-next svg path, .swiper-button-prev svg path {
  fill: var(--color-primary-500);
}
.swiper-pagination-bullet-active {
  background: var(--color-primary-500);
}
